body{
 background-image: url("../images/meal2.jpeg");
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
 font-weight: normal!important;
 color: white;

}
.panel{
  margin: 20px;
}
.panel-footer{
  padding: 10px;
}
cite{
  background-color: yellowgreen;
}
h1 {
  text-align: center;
  font-size: 80px;
  font-weight: bold;
  font-family: sans-serif;
}
h2 {
  font-style: oblique;
}
